directory: /home/$USER/money
accounts:
  bank_save:
    # only needed if the filename is different from the account key
    filename: bank_save_file_name
    label: Bank Save Label
    debit: false

  bank_check:
    label: Bank Checking
    debit: false

  cc_1:
    label: Credit Card 1
    debit: true

  loan:
    label: loan label
    debit: true

  hidden:
    label: hidden account label
    debit: false
    # used for accounts you don't want to always see
    hidden: true
